.b{
    background-color: black;
    border: 20px solid pink;
    margin: 50px;
    width: 500px;
    color: aliceblue;
    padding: 30px;
    box-shadow:-50px 50px 50px #1c1d1a;
}
.header{
    height: 500px;
background-color: #747570;
background-image: url(bp.webp);
background-repeat: no-repeat;
background-size: cover;

}