
/*
h1{
    color: #8fb159;
    text-align: center;
    font-size: 50px;

}
p{
    color: blueviolet;
    font-size: 20px;
}
div{
    height: 250px;
    width: 250px;
   background-color: #8fb159;
   margin-bottom: 20px;
   color: blue;
}
div p {
    color: aliceblue;
}
.text-bk{
    color: black;

}
.abc{
    background-color: brown;
}
.abc p{
    color: blueviolet;
}
#xyz{
    background-color: red;
    width: 100px;
    height: 100px;
}









*/
.blog{
    border: 20px solid red;
  border-radius: 50px;
    border-top: none;  
}

*{
    margin: 0;
}





