*{
    background-color: chartreuse;
}
#b{
color: aliceblue;
width: 200px;
height: 200px;
background-color: black;
padding: 20px;
margin: 2px;
}
.a{
    color: hsl(359, 75%, 44%);

}
h1{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color: #571ed2;
}