.a{
    background-color: lightcoral;
    margin: 0px;
    padding: 20px;
    color: aliceblue;
    text-align: center;
}
.b{
    background-image:url(/bp.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    background-position: center; 
    text-align: center;
    color: blueviolet;
}
.c{
    background-image: url(km.avif);
     background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    background-position: center;
    text-align: center;

}
.d{
    text-align: center;
    background-image: url(/bp.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    background-position: center;
    text-align: center; 
}
