h1{
    color: chocolate;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: rgb(30, 121, 201);
    text-align: justify;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ol{
    background-color: black;
    color: bisque;
    text-align: left;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
}