/*div{
    width: 200px;
    height: 300px;
    color: blueviolet;
    border-radius: 20px;
    border: 30px solid black;
    
    margin: 40px;
    padding: 10px;
    background-color: antiquewhite;
      box-shadow:50px 50px 50px #1c1d1a;
}
img{
     border: 30px solid black;
    width: 200px;
    height: 300px;
    margin: 20px;
    padding: 10px;
    background-color: antiquewhite;
      box-shadow:50px 50px 50px #1c1d1a;
}
p{
     
    color: blueviolet;
    
}*/
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

/* সব বক্সের জন্য common style */
.box {
  width: 250px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: white;
}

/* আলাদা আলাদা border style */
.box1 {
  border: 2px solid red;
}

.box2 {
  border: 4px dashed blue;
  border-radius: 12px;
}

.box3 {
  border: 3px solid green;
  border-radius: 50%;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}